@{
    Layout = "";
}
@model Nop.Plugin.Widgets.LivePersonChat.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>Please find our step by step set up guide detailed below:</b>
                    <ol>
                        <li>
                            Create account in <a href="http://www.liveperson.com/" target="_blank">www.liveperson.com</a>
                        </li>
                        <li>
                            Copy LiveEngage Tag from your account and paste here
                        </li>
                    </ol>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LiveEngageTag)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(model => model.LiveEngageTag)
                        @Html.ValidationMessageFor(model => model.LiveEngageTag)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}